{% extends "site_base.html" %}
{% load brick boxes_tags biblion_tags sponsors_pro_tags thumbnail i18n %}

{% block head_title_base %}{% trans "Home" %} / {{ block.super }}{% endblock %}

{% block body_class %}home{% endblock %}

{% block slogan %}
{% endblock %}

{% block header_extra_base %}
    <div id="python"></div>
{% endblock %}

{% block body %}

    {% comment %}
    {% sponsors as sponsors %}
    <div class="mainbox">
        {% box "mainbox" %}
    </div>
    {% endcomment %}

    {% latest_announcements as posts %}

    <div class="">
        <div class="row-fluid">
            <div class="span6">
                <div class="banner_caption">
                    <a href="http://tw.pycon.org/2013/venue/">
                    <p>{% trans "Academia Sinica: Humanities and Social Sciences Building on May 25 - 26" %}</p>
                    </a>
                </div>
                <img src="{{ STATIC_URL }}img/aboutpycon.jpg" alt="">
                <div id="pycon_intro">{% box "homepage_main" %}</div>
                <img src="{{ STATIC_URL }}img/gallery.jpg" alt="">
            </div>
            <div class="span6 brick sponsor_brick">
                <div class="blog-post">
                    <h2><a href="{% url sponsor_list %}"><span class="emphasis">{%trans "Sponsors!" %}</span></a></h2>
                    <div id="sponsor_logos">
                        <a href="http://www.webfaction.com/" target="_blank"><img style="max-height: 30px;" src="{{ STATIC_URL }}/img/wf.png" alt=""></a>
                        <a href="http://www.zillians.com/" target="_blank"><img style="max-height: 50px;" src="{{ STATIC_URL }}/img/zillians.png" alt=""></a>
                    </div>
                    
                    <a id="sponsor_button" class="btn btn-large btn-inverse visible-desktop" title="贊助 PyConTW 2013！" href="http://tw.pycon.org/zh-tw/2013/blog/2012/11/21/how-to-pycon-taiwan-zh/">
                        <span style="color: #a6e22e;">from</span> future <span style="color: #a6e22e;">import</span> everything<br>
                        help(<span style="color: #e6db74;">PyConTW2013.Sponsor</span>)
                    </a>
                    <a class="btn btn-inverse hidden-desktop" title="贊助 PyConTW 2013！" href="http://tw.pycon.org/zh-tw/2013/blog/2012/11/21/how-to-pycon-taiwan-zh/" style="font-family: 'Droid Sans Mono';text-align: left;">
                        <span style="color: #a6e22e;">from</span> future <span style="color: #a6e22e;">import</span> everything<br/>
                        help(<span style="color: #e6db74;">PyConTW2013.Sponsor</span>)
                    </a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
        {% for post in posts %}
            <div class="span6 brick">
                <div class="blog-post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    {% include "biblion/dateline.html" %}
                    <div class="teaser">{{ post.teaser_html|safe }}</div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"2" and not forloop.last %}
        </div>
        <div class="row-fluid">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    {#  SECTION: silver and media sponsors #}
    {% comment %}
    <div class="span-24 last">
        <hr />
        <div class="other-sponsors">
            <h6>Sponsors</h6>
            <a href="{% url sponsor_list %}">
            {% for sponsor in sponsors %}
                {% thumbnail sponsor.website_logo "100x60" format="PNG" as logo %}
                    <span><img src="{{ logo.url }}" style="margin:{{ logo|margin:"100x60" }}" alt="{{ sponsor.name }}" width="{{ logo.x }}" height="{{ logo.y }}" /></span>
                {% endthumbnail %}
            {% endfor %}
            </a>
        </div>
    </div>
    {% endcomment %}
{% endblock %}

{% block extra_body %}
    {% if sponsors|length > 6 %}
        <script src="{{ STATIC_URL }}js/jquery.cycle.all.js" type="text/javascript"></script>
        <script>
            $(function(){
                $('#slider li:first').fadeIn(1000, function() {
                    $('#slider').cycle({ pager: '#slider-nav', timeout: 7000 });
                });
            });
        </script>
    {% endif %}
{% endblock %}
